<!--将layout.html设置为父类模板，继承父类模板的html，则在index.html中展示的内容还是跟layout.html一样的-->
{% extends 'layout.html' %} <!--继承父级-->

<!--面向对象的继承-->
{%block main%}
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容添加</span></li>
</ol>

<h3>内容添加</h3>

<!--表单的形式显示->使用bootstrap-->
<!--表单：以post方式提交-->
<form role="form" method="post">

    <!--给一个所属的分类列表-->
    <div class="form-group">
        <label for="title">分类:</label>
        <select name="category" id="category" class="form-control">
            {%for category in categories%}
            <option value="{{category.id}}">{{category.name}}</option>
            {%endfor%}
        </select>
    </div>

    <div class="form-group">
        <label for="title">标题:</label>
        <input type="text" class="form-control" id="title" placeholder="请输入内容标题" name="title">
    </div>

    <div class="form-group">
        <label for="description">简介:</label>
        <textarea name="description" id="description" class="form-control" rows="5" placeholder="请输入内容简介"></textarea>
    </div>

    <div class="form-group">
        <label for="content">内容:</label>
        <textarea name="content" id="content" class="form-control" rows="10" placeholder="请输入内容"></textarea>
    </div>

    <button type="submit" class="btn btn-default">提交</button>
</form>


{%endblock%}