<!--将layout.html设置为父类模板，继承父类模板的html，则在index.html中展示的内容还是跟layout.html一样的-->
{% extends 'layout.html' %} <!--继承父级-->

<!--面向对象的继承-->
{%block main%}
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>用户列表</span></li>
</ol>

<h3>用户列表</h3>

<!--注意，在引用page.html页面时，要在 user_index.html 的后端代码中传入page.html的相关参数-->
{%include 'page.html'%}

<table class="table table-hover table-striped">

    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
    </tr>

    <!--循环输出传递过来的users数组里的数据，将它放到tr中-->
    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            {%if user.isAdmin%}是{%endif%}
        </td>
    </tr>
    {% endfor %}

</table>

<!--include方法：：把另外一个页面通过引用的方式包含进来-->
{%include 'page.html'%}

{%endblock%}